<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		
	<!-- TypeAliases -->
	<!--  
	<typeAliases>
		<typeAlias type="com.lec08.dao.BoardVO"  />
		<typeAlias type="com.lec08.dao.UserVO" />
	</typeAliases>
	-->

	

</configuration>
